/**
 * Custom styles for the belt book containers
 */

.container-custom {
  h1,h2,h3,h4,h5,h6 {
    font-family: $serifFont;
    color: #800000;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-family: $sansSerifFont;
    font-size: 18px;
  }
}

