.form-custom {
  font-family: $sansSerifFont;
  font-size: 30px;
  padding: 30px;
  border-radius: 2px;
  background-color: #eee;
  -webkit-transition: all 500ms;
  &:hover {
    background-color: rgba(128,0,0,0.75);
  }
}
