/**
 * Custom styles for the belt book containers
 */

.jumbotron-custom {
  padding-left: 40px;
  border-radius: 0px !important;
  text-align: center;
  background-color: #eeeeee;
  h1,h2,h3,h4,h5,h6 {
    font-family: $serifFont;
  }
  h1 {
    color: rgb(180,180,180);
    font-size: 45px;
    display: inline;
  }
  h1.highlight {
    color: #fff;
  }
  a {
    color: #fff;
  }
}

.jumbotron-header {
  background-color: rgb(150,0,0);
}

