/**
 * Custom styles for the belt book containers
 */

.jumbotron-custom {
  padding-left: 40px;
  text-align: center;
  background-color: #ffffff;
  h1,h2,h3,h4,h5,h6 {
    font-family: $serifFont;
  }
  h1 {
    font-size: 45px;
  }
  .jumbo-button {
    display: inline;
    background-color: #eee;
    padding: 30px 30px 25px 30px;
    box-shadow: 5px 5px 3px #800000;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    &:active {
      box-shadow: none;
      -webkit-transition: all 80ms;
      -webkit-transform: translate3d(5px, 5px, 0px);
    }
    h1 {
      font-size: 45px;
      @media all and (max-width: 600px) {
        font-size: 30px;
      }
      @media all and (max-width: 450px) {
        font-size: 20px;
      }
    }
  }
  .red {
    color: #800000;
  }
}
