/**
 * Custom styles for the belt book containers
 */

.jumbotron-custom {
  padding-left: 40px;
  border-radius: 0px !important;
  text-align: center;
  background-color: #ffffff;
  h1,h2,h3,h4,h5,h6 {
    font-family: $serifFont;
  }
  h1 {
    color: #000;
    font-size: 45px;
  }
  a {
    color: #fff;
  }
  .jumbo-button {
    display: inline;
    background-color: #eee;
    padding: 30px 30px 25px 30px;
    border: 1px solid #ddd;
    outline: none;
    -webkit-transition: all 500ms;
    &:active {
     
    }
    h1 {
      font-size: 45px;
      @media all and (max-width: 600px) {
        font-size: 30px;
      }
      @media all and (max-width: 450px) {
        font-size: 25px;
      }
    }
  }
}

.header .jumbotron-custom {
  background-color: rgba(128,0,0,0.75);
}
