.nav {

  font-family: monospace;
  color: #800000;

  .nav-bar {
    width: 100%;
    min-height: 80px;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;

    .nav-bar-segment-left,
    .nav-bar-segment-right {
      -webkit-transition: 0.2s ease-in;
      &.active,
      &:hover { 
        -webkit-box-shadow: 0px 2px 5px #800000; 
        background-color: #ddd; }

      h1 { font-size: 25px; }
      h3 { font-size: 18px; }
      a { 
        text-decoration: none; 
        color: #800000; 
        &:hover {
          border-bottom: 2px solid #800000;
          cursor: pointer; 
        }
      }
    
    }
    .nav-bar-segment-left {
      padding: 27.5px 30px; 
      float: left;

      @media (max-width: 400px) {
        padding: 27.5px 10px;
      }
    }
    .nav-bar-segment-right {
      padding: 31px; 
      float: right;
      
      @media (max-width: 700px) {
        padding: 31px 15px;
      }
      @media (max-width: 600px) {
        display: none;
      }
    }

    .nav-bar-collapse-button {
      height: 50px;
      width: 50px;
      background-color: #ddd;
      margin: 15px;
      float: right;
      display: none;
      -webkit-transition: 0.2s ease-in;
    
      &:hover { 
        background-color: #ccc; 
      }
      
      @media (max-width: 600px) {
        display: inline-block;
      }
    }
  }
}

.collapse-menu {
  width: 100%;
  margin-top: 0;
  display: none;

  &.active {
    display: block;
  }
  
  .collapse-row {
    padding: 10px 0px;
    width: 100%;
    background-color: #eee;
    height: 20px;
    border-top: 1px solid #800000;
    -webkit-transition: 0.2s ease-in;

    &:last-of-type {
      border-bottom: 1px solid #800000;
    }

    &:hover { 
      background-color: #ccc; 
    }
  
    .collapse-row-item {
      font-family: monospace;
      text-align: center;
      h3 { font-size: 18px; }
      a { 
        text-decoration: none; 
        color: #800000; 
        &:hover {
          border-bottom: 2px solid #800000;
          cursor: pointer; 
        }
      }
    }
  }

}
      
