{% include "base.html" %}
{% load staticfiles %}

{% block page_title %}{% endblock %}
{% block page_specific_styles %}{% endblock %}
{% block page_specific_scripts %}{% endblock %}

{% block navigation %} 
  
  <div class="nav">
    <div class="nav-bar">
      <div class="nav-bar-segment-left">
        <h1><a href="/">The Belt Book</a></h1>
      </div>
      <div class="nav-bar-segment-right">
        <h3><a>blog</a></h3>
      </div>
      <div class="nav-bar-segment-right">
        <h3><a href="/contact">contact</a></h3>
      </div>
      <div class="nav-bar-segment-right active">
        <h3><a href="/about">about</a></h3>
      </div>
    </div>
  </div>

{% endblock %}

  <div class="container">
    <div class="container-text">
      <h1>About creator Ann Evans</h1>
      <p>Ann's teaching experience ranges from public and private schools in Colorado, New York, California, and Washington to performing arts programs such as Village Theatre Kidstage, Seattle Playhouse, Youth Theatre Northwest, Seattle Children's Theatre, West Seattle Theatre Arts, Tacoma Actors Guild and Washington Academy of Performing Arts, where she developed the curriculum and was the acting chair of the Musical Theatre Department from its inception in 1991 to 1998. She currently teaches voice and repetoire at the Village Theatre Institute in addition to her private teaching and master classes.</p>
      <br>
      <p>The Ann Evans Voice Studio is focused on Broadway-style singing. Students range from high school performers to Broadway actors, with students playing roles on Broadway in Spring Awakening, Wicked, All Shook Up, 42nd Street, The Pirate Queen, Aida, Thoroughly Modern Millie, Xanadu, White Christmas, American Idiot, Memphis,A Little Night Music and The Addams Family. Students have also performed in National Tours of Next to Normal, Annie, Cats, The King & I, My Fair Lady, Mamma Mia, Wicked, and Jersey Boys. Studio alumni have gone on to study at top theatre programs around the country, including the University of Michigan, Cincinnati Conservatory of Music, Carnegie Mellon University, University of Oklahoma, Penn State, Boston Conservatory, Ithaca College, and University of Miami.</p>
    </div>
  </div>

{% block page_content %}{% endblock %}


