{% load staticfiles %}

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block page_title %}{% endblock %}</title>

    <link href="{% static 'stylesheets/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'stylesheets/src/main.css' %}" rel="stylesheet">
    <link href="{% static 'stylesheets/src/nav.css' %}" rel="stylesheet">

    {% block page_specific_styles %}{% endblock %}

    <script src="{% static 'javascripts/lib/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'javascripts/lib/bootstrap.min.js' %}"></script>

    {% block page_specific_scripts %}{% endblock %}

    {# Google Analytics #}

  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">The Belt Book</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="http://thebeltbook.wordpress.com/">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>

    {% block page %}{% endblock %}

  </body>

</html>
