{% load staticfiles %}

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block page_title %}{% endblock %}</title>

    <link href="{% static 'stylesheets/src/css/main.css' %}" rel="stylesheet">

    {% block page_specific_styles %}{% endblock %}

    <script src="{% static 'javascripts/lib/jquery-1.11.1.min.js' %}"></script>

    {% block page_specific_scripts %}{% endblock %}

    {# Google Analytics #}

  </head>

  <body>

    {% block navigation %}{% endblock %}

    <div class="container">
      {% block page_content %}{% endblock %}
    </div>

  </body>

</html>
