{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}contact{% endblock %}
{% block page_specific_styles %}{% endblock %}
{% block page_specific_scripts %}{% endblock %}

{% block navigation %}
   
  <div class="nav">
    <div class="nav-bar">
      <div class="nav-bar-segment-left">
        <h1><a href="/">The Belt Book</a></h1>
      </div>
      <div class="nav-bar-segment-right">
        <h3><a href="">blog</a></h3>
      </div>
      <div class="nav-bar-segment-right active">
        <h3><a href="/contact">contact</a></h3>
      </div>
      <div class="nav-bar-segment-right">
        <h3><a href="/about">about</a></h3>
      </div>
      <div class="nav-bar-collapse-button"></div>
    </div>
  </div>

  <div class="collapse-menu">
    <div class="collapse-row">
      <div class="collapse-row-item">
        <h3><a href="/about">about</a></h3>
      </div>
    </div>
    <div class="collapse-row">
      <div class="collapse-row-item">
        <h3><a href="/contact">contact</a></h3>
      </div>
    </div>
    <div class="collapse-row">
      <div class="collapse-row-item">
        <h3><a href="">blog</a></h3>
      </div>
    </div>
  </div>
  
{% endblock %}

{% block page_content %}{% endblock %}

