{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}contact{% endblock %}
{% block page_specific_styles %}{% endblock %}
{% block page_specific_scripts %}{% endblock %}

{% block page_content %}

  <div class="container container-custom header">
    <div class="jumbotron jumbotron-custom">
      <h1>Welcome to the Belt Book</h1>
      <p>a free resource for teachers and students to find the musical theater repertoire that's right for them</p>
    </div>
  </div>


  <div class="jumbotron jumbotron-custom">
    <h1> Select attributes to search by...</h1>
  </div>

  <div class="container container-custom">

    <div class="row row-custom">

      <div class="col-md-4">
        <div class="form-group form-custom">
          <label>Tempo</label>
          <select class="form-control" id="tempo">
            <option value="">- - - -</option>
            <option value="Ballad">Ballad</option>
            <option value="Power Ballad">Power Ballad</option>
            <option value="Mid-Tempo">Mid-Tempo</option>
            <option value="Up-Tempo">Up-Tempo</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group form-custom">
          <label>Tessitura</label>
          <select class="form-control" id="tempo">
            <option value="">- - - -</option>
            <option value="Low">Low</option>
            <option value="Middle">Middle</option>
            <option value="High">High</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group form-custom">
          <label>Song Style</label>
          <select class="form-control" id="tempo">
            <option value="">- - - -</option>
            <option value="Belt">Belt</option>
            <option value="Belt Mix">Belt Mix</option>
          </select>
        </div>
      </div>

    </div><!-- end row 1 -->

    <div class="row row-custom">

      <div class="col-md-4">
        <div class="form-group form-custom">
          <label>Gender</label>
          <select class="form-control" id="tempo">
            <option value="">- - - -</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      </div>

      <div class="col-md-4 col-custom">
        <div class="form-group form-custom">
          <label>Character Type</label>
          <select class="form-control" id="tempo">
            <option value="">- - - -</option>
            <option value="Youth">Youth</option>
            <option value="Ingenue">Ingenue</option>
            <option value="Young Lead">Young Lead</option>
            <option value="Comic">Comic</option>
            <option value="Lead">Lead</option>
            <option value="2nd Banana">2nd Banana</option>
            <option value="Character">Character</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group form-custom">
          <label>Year</label>
          <select class="form-control" id="tempo">
            <option value="">- - - -</option>
            <option value="Pre-1965">Pre-1965</option>
            <option value="Post-1965">Post-1965</option>
          </select>
        </div>
      </div>

    </div><!-- end row 2 -->

  <div class="jumbotron jumbotron-custom">
    <button class="jumbo-button">
      <h1>Find the music</h1>
    </button>
  </div>



{% endblock %}


