{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}The Belt Book{% endblock %}
{% block page_specific_styles %}{% endblock %}
{% block page_specific_scripts %}
  <script src="{% static 'javascripts/src/search.js' %}"></script>
  <script src="{% static 'javascripts/src/display.js' %}"></script>
{% endblock %}

{% block page_content %}

  <!-- 
  
  <div class="jumbotron jumbotron-custom jumbotron-header">
    <h1>The Belt Book is</h1>
    <h1 id="adjectives" class="highlight">valuable</h1>
  </div>

  <div class="container container-custom">

    <div class="col-md-4 module">
      <div class="module-svg">
        <img class="custom-svg" src="{% static 'images/svg/happy6.svg' %}"> 
      </div>
      <h2>easy</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <div class="module-fadeout"></div>
    </div>
    <div class="col-md-4 module">
      <div class="module-svg">
        <img class="custom-svg" src="{% static 'images/svg/runner5.svg' %}">
      </div>
      <h2>fast</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <div class="module-fadeout"></div>
    </div>
    <div class="col-md-4 module">
      <div class="module-svg">
        <img class="custom-svg" src="{% static 'images/svg/help.svg' %}">
      </div>
      <h2>helpful</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <div class="module-fadeout"></div>
    </div>

  </div>

  <div class="spacer50">
  </div>
  -->

  <!-- Call to Action: Search -->
  <div class="jumbotron jumbotron-custom jumbotron-header">
    <h1>Search the </h1>
    <h1 class="highlight">database</h1>
  </div>

  <div class="container container-custom">

    <div class="row">

      <div class="col-md-4">
        <div class="form-group form-custom">
          <form id="tempo">
            <h1 data-toggle="tooltip" data-placement="top" title="Tooltip text. This could end up being long or short.">Tempo</h1>
            <input id="ballad" type="radio" name="tempo" value="Ballad" />
            <label for="ballad"><span></span>Ballad</label><br>
            <input id="power-ballad" type="radio" name="tempo" value="Power Ballad" />
            <label for="power-ballad"><span></span>Power Ballad</label><br>
            <input id="mid-tempo" type="radio" name="tempo" value="Mid-Tempo" />
            <label for="mid-tempo"><span></span>Mid-Tempo</label><br>
            <input id="up-tempo" type="radio" name="tempo" value="Up-Tempo" />
            <label for="up-tempo"><span></span>Up-Tempo</label><br>
          </form>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group form-custom">
          <form id="characterType">
            <h1 data-toggle="tooltip" data-placement="top" title="Tooltip text. This could end up being long or short.">Character Type</h1>
            <input id="youth" type="radio" name="characterType" value="Youth" />
            <label for="youth"><span></span>Youth</label><br>
            <input id="ingenue" type="radio" name="characterType" value="Ingenue" />
            <label for="ingenue"><span></span>Ingenue</label><br>
            <input id="youngLead" type="radio" name="characterType" value="Young Lead" />
            <label for="youngLead"><span></span>Young Lead</label><br>
            <input id="comic" type="radio" name="characterType" value="Comic" />
            <label for="comic"><span></span>Comic</label><br>
            <input id="lead" type="radio" name="characterType" value="Lead" />
            <label for="lead"><span></span>Lead</label><br>
            <input id="2ndBanana" type="radio" name="characterType" value="2nd Banana" />
            <label for="2ndBanana"><span></span>2nd Banana</label><br>
            <input id="character" type="radio" name="characterType" value="Character" />
            <label for="character"><span></span>Character</label><br>
          </form>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group form-custom">
          <form id="tessitura">
            <h1 data-toggle="tooltip" data-placement="top" title="Tooltip text. This could end up being long or short.">Tessitura</h1>
            <input id="low" type="radio" name="tessitura" value="Low" />
            <label for="low"><span></span>Low</label><br>
            <input id="middle" type="radio" name="tessitura" value="Middle" />
            <label for="middle"><span></span>Middle</label><br>
            <input id="high" type="radio" name="tessitura" value="High" />
            <label for="high"><span></span>High</label><br>
          </form>
        </div>
      </div>

    </div> <!-- END ROW 1 -->

    <div class="row">

      <div class="col-md-4">
        <div class="form-group form-custom">
          <form id="songStyle">
            <h1 data-toggle="tooltip" data-placement="top" title="Tooltip text. This could end up being long or short.">Song Style</h1>
            <input id="belt" type="radio" name="songStyle" value="Belt" />
            <label for="belt"><span></span>Belt</label><br>
            <input id="beltMix" type="radio" name="songStyle" value="Belt Mix" />
            <label for="beltMix"><span></span>Belt Mix</label><br>
          </form>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group form-custom">
          <form id="gender">
            <h1 data-toggle="tooltip" data-placement="top" title="Tooltip text. This could end up being long or short.">Gender</h1>
            <input id="male" type="radio" name="gender" value="Male" />
            <label for="male"><span></span>Male</label><br>
            <input id="female" type="radio" name="gender" value="Female" />
            <label for="female"><span></span>Female</label><br>
          </form>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group form-custom">
          <form id="timePeriod">
            <h1 data-toggle="tooltip" data-placement="top" title="Tooltip text. This could end up being long or short.">Time Period</h1>
            <input id="pre-1965" type="radio" name="timePeriod" value="Pre-1965" />
            <label for="pre-1965"><span></span>Pre-1965</label><br>
            <input id="post-1965" type="radio" name="timePeriod" value="Post-1965" />
            <label for="post-1965"><span></span>Post-1965</label><br>
          </form>
        </div>
      </div>

    </div> <!-- END ROW 2 -->

  <div class="jumbotron jumbotron-custom">
    <button id="search" class="btn btn-lg btn-success">Find the Music</button>
  </div>

  <div class="container container-custom">
    <p id="length"></p>
    <table id="results" class="table table-hover table-custom">
    </table>
  </div>

{% endblock %}


