{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}{{song.title}}{% endblock %}
{% block page_specific_styles %}{% endblock %}
{% block page_specific_scripts %}{% endblock %}

{% block page_content %} 
  
  <div class="container custom">
    <p>{{song.title}}</p>
    <p>{{song.year}}</p>
    <p>{{song.show}}</p>
    <p>{{song.name_in_show}}</p>
    <p>{{song.original_artist}}</p>
    <p>{{song.low_note}}</p>
    <p>{{song.high_note}}</p>
    <p>{{song.song_style}}</p>
    <p>{{song.tempo}}</p>
    <p>{{song.tessitura}}</p>
    <p>
      {% for type in song.character_type %}
        {{type}},
      {% endfor %}
    </p>
  </div>

{% endblock %}

