@import url(http://fonts.googleapis.com/css?family=Lusitana|Raleway);
/* line 1, ../scss/_form.scss */
.form-custom {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  padding: 30px;
  background-color: #eee;
  -webkit-transition: all 500ms;
}
/* line 7, ../scss/_form.scss */
.form-custom:hover {
  background-color: rgba(128, 0, 0, 0.75);
}
/* line 11, ../scss/_form.scss */
.form-custom select {
  height: 45px;
  font-size: 20px;
}
/* line 16, ../scss/_form.scss */
.form-custom input[type=text] {
  height: 45px;
  font-size: 20px;
}

/**
 * Custom styles for the belt book containers
 */
/* line 6, ../scss/_container.scss */
.container-custom h1, .container-custom h2, .container-custom h3, .container-custom h4, .container-custom h5, .container-custom h6 {
  font-family: "Lusitana", serif;
  color: #800000;
}
/* line 10, ../scss/_container.scss */
.container-custom h1 {
  font-size: 40px;
}
/* line 13, ../scss/_container.scss */
.container-custom h2 {
  font-size: 30px;
}
/* line 16, ../scss/_container.scss */
.container-custom p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

/**
 * Custom styles for the belt book containers
 */
/* line 5, ../scss/_jumbotron.scss */
.jumbotron-custom {
  padding-left: 40px;
  text-align: center;
  background-color: #ffffff;
}
/* line 9, ../scss/_jumbotron.scss */
.jumbotron-custom h1, .jumbotron-custom h2, .jumbotron-custom h3, .jumbotron-custom h4, .jumbotron-custom h5, .jumbotron-custom h6 {
  font-family: "Lusitana", serif;
}
/* line 12, ../scss/_jumbotron.scss */
.jumbotron-custom h1 {
  font-size: 45px;
}
/* line 15, ../scss/_jumbotron.scss */
.jumbotron-custom .jumbo-button {
  display: inline;
  background-color: #eee;
  padding: 30px 30px 25px 30px;
  box-shadow: 5px 5px 3px #800000;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
}
/* line 23, ../scss/_jumbotron.scss */
.jumbotron-custom .jumbo-button:active {
  box-shadow: none;
  -webkit-transition: all 80ms;
  -webkit-transform: translate3d(5px, 5px, 0px);
}
/* line 28, ../scss/_jumbotron.scss */
.jumbotron-custom .jumbo-button h1 {
  font-size: 45px;
}
@media all and (max-width: 600px) {
  /* line 28, ../scss/_jumbotron.scss */
  .jumbotron-custom .jumbo-button h1 {
    font-size: 30px;
  }
}
@media all and (max-width: 450px) {
  /* line 28, ../scss/_jumbotron.scss */
  .jumbotron-custom .jumbo-button h1 {
    font-size: 20px;
  }
}
/* line 38, ../scss/_jumbotron.scss */
.jumbotron-custom .red {
  color: #800000;
}

/**
 * Custom styles for the belt book nav bar
 */
/* line 5, ../scss/_navbar.scss */
.navbar-custom {
  background-color: #ffffff;
  border: 0px solid #ffffff;
  margin: 40px;
  border-bottom: 5px solid #800000;
}
@media all and (max-width: 450px) {
  /* line 5, ../scss/_navbar.scss */
  .navbar-custom {
    margin-left: 0px;
    margin-right: 0px;
  }
}
/* line 16, ../scss/_navbar.scss */
.navbar-custom a {
  color: #000;
  text-decoration: none;
}
/* line 19, ../scss/_navbar.scss */
.navbar-custom a:hover {
  color: #800000;
}
/* line 24, ../scss/_navbar.scss */
.navbar-custom .navbar-brand {
  font-family: "Lusitana", serif;
  font-size: 40px;
}
@media all and (max-width: 350px) {
  /* line 24, ../scss/_navbar.scss */
  .navbar-custom .navbar-brand {
    font-size: 35px;
  }
}
/* line 32, ../scss/_navbar.scss */
.navbar-custom .navbar-nav {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}
/* line 37, ../scss/_navbar.scss */
.navbar-custom .navbar-toggle {
  background-color: #ddd;
}

/* line 1, ../scss/_row.scss */
.row-custom {
  text-align: center;
}
