/**
 * SCSS mixins - Ian Zapolsky
 */
@import url(http://fonts.googleapis.com/css?family=Lusitana|Raleway);
/* line 1, ../scss/_spacer.scss */
.spacer100 {
  min-height: 100px;
}

/* line 5, ../scss/_spacer.scss */
.spacer50 {
  min-height: 50px;
}

/* line 1, ../scss/_form.scss */
.form-custom {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  -webkit-transition: 500ms all ;
  -moz-transition: 500ms all ;
  -ms-transition: 500ms all ;
  transition: 500ms all ;
}
/* line 10, ../scss/_form.scss */
.form-custom h1 {
  font-size: 30px !important;
  color: #000 !important;
  padding-bottom: 5px;
  border-bottom: 5px solid #800000;
}
/* line 17, ../scss/_form.scss */
.form-custom input[type="radio"] {
  display: none;
}
/* line 20, ../scss/_form.scss */
.form-custom input[type="radio"] + label span {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  border: 1px solid #ddd;
  cursor: pointer;
  -webkit-transition: 300ms all ;
  -moz-transition: 300ms all ;
  -ms-transition: 300ms all ;
  transition: 300ms all ;
}
/* line 31, ../scss/_form.scss */
.form-custom input[type="radio"] + label span:hover {
  background-color: #eee;
}
/* line 34, ../scss/_form.scss */
.form-custom input[type="radio"]:checked + label span {
  background-color: #800000;
}

/**
 * Custom styles for the belt book containers
 */
/* line 6, ../scss/_container.scss */
.container-custom h1, .container-custom h2, .container-custom h3, .container-custom h4, .container-custom h5, .container-custom h6 {
  text-align: center;
  font-family: "Lusitana", serif;
  color: #800000;
}
/* line 11, ../scss/_container.scss */
.container-custom h1 {
  font-size: 40px;
}
/* line 14, ../scss/_container.scss */
.container-custom h2 {
  font-size: 30px;
}
/* line 17, ../scss/_container.scss */
.container-custom p {
  font-family: "Lusitana", serif;
  font-size: 18px;
}

/**
 * Custom styles for the belt book containers
 */
/* line 5, ../scss/_jumbotron.scss */
.jumbotron-custom {
  padding-left: 40px;
  border-radius: 0px !important;
  text-align: center;
  background-color: #eeeeee;
}
/* line 10, ../scss/_jumbotron.scss */
.jumbotron-custom h1, .jumbotron-custom h2, .jumbotron-custom h3, .jumbotron-custom h4, .jumbotron-custom h5, .jumbotron-custom h6 {
  font-family: "Lusitana", serif;
}
/* line 13, ../scss/_jumbotron.scss */
.jumbotron-custom h1 {
  color: #000;
  font-size: 45px;
  display: inline;
}
/* line 18, ../scss/_jumbotron.scss */
.jumbotron-custom h1.highlight {
  color: #fff;
}
/* line 21, ../scss/_jumbotron.scss */
.jumbotron-custom a {
  color: #fff;
}
/* line 24, ../scss/_jumbotron.scss */
.jumbotron-custom .jumbo-button {
  display: inline;
  background-color: #eee;
  padding: 30px 30px 25px 30px;
  border: 1px solid #ddd;
  outline: none;
  -webkit-transition: all 500ms;
}
/* line 34, ../scss/_jumbotron.scss */
.jumbotron-custom .jumbo-button h1 {
  font-size: 45px;
}
@media all and (max-width: 600px) {
  /* line 34, ../scss/_jumbotron.scss */
  .jumbotron-custom .jumbo-button h1 {
    font-size: 30px;
  }
}
@media all and (max-width: 450px) {
  /* line 34, ../scss/_jumbotron.scss */
  .jumbotron-custom .jumbo-button h1 {
    font-size: 25px;
  }
}

/* line 46, ../scss/_jumbotron.scss */
.jumbotron-header {
  background-color: rgba(128, 0, 0, 0.75);
}

/**
 * Custom styles for the belt book nav bar
 */
/* line 5, ../scss/_navbar.scss */
.navbar-custom {
  background-color: #ffffff;
  border: 0px solid #ffffff;
  margin: 40px;
  border-bottom: 5px solid #800000;
}
@media all and (max-width: 450px) {
  /* line 5, ../scss/_navbar.scss */
  .navbar-custom {
    margin-left: 0px;
    margin-right: 0px;
  }
}
/* line 16, ../scss/_navbar.scss */
.navbar-custom a {
  color: #000;
  text-decoration: none;
}
/* line 19, ../scss/_navbar.scss */
.navbar-custom a:hover {
  color: #800000;
}
/* line 24, ../scss/_navbar.scss */
.navbar-custom .navbar-brand {
  font-family: "Lusitana", serif;
  font-size: 40px;
}
@media all and (max-width: 350px) {
  /* line 24, ../scss/_navbar.scss */
  .navbar-custom .navbar-brand {
    font-size: 35px;
  }
}
/* line 32, ../scss/_navbar.scss */
.navbar-custom .navbar-nav {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}
/* line 37, ../scss/_navbar.scss */
.navbar-custom .navbar-toggle {
  background-color: #ddd;
}

/* line 1, ../scss/_module.scss */
.module {
  -webkit-transition: 300ms all ;
  -moz-transition: 300ms all ;
  -ms-transition: 300ms all ;
  transition: 300ms all ;
  border-bottom: 5px solid #ffffff;
  overflow-y: hidden;
}
/* line 7, ../scss/_module.scss */
.module h2 {
  color: #000;
  font-family: "Raleway", sans-serif;
  -webkit-transition: 300ms all ;
  -moz-transition: 300ms all ;
  -ms-transition: 300ms all ;
  transition: 300ms all ;
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
}
/* line 13, ../scss/_module.scss */
.module p {
  -webkit-transition: 200ms all ;
  -moz-transition: 200ms all ;
  -ms-transition: 200ms all ;
  transition: 200ms all ;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
}
/* line 17, ../scss/_module.scss */
.module .module-svg {
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-transition: 100ms all ;
  -moz-transition: 100ms all ;
  -ms-transition: 100ms all ;
  transition: 100ms all ;
  left: 50%;
  margin-left: -60px;
}
/* line 26, ../scss/_module.scss */
.module:hover {
  border-bottom: 5px solid #800000;
}
/* line 30, ../scss/_module.scss */
.module:hover h2 {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}
/* line 35, ../scss/_module.scss */
.module:hover p {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}
/* line 38, ../scss/_module.scss */
.module:hover .module-fadeout {
  display: none;
}
/* line 41, ../scss/_module.scss */
.module:hover .module-svg {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 0;
}

/* line 48, ../scss/_module.scss */
.module-fadeout {
  position: absolute;
  bottom: 0em;
  width: 100%;
  height: 6em;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, white 100%);
}

/* line 59, ../scss/_module.scss */
.custom-svg {
  margin-left: 20px;
  margin-top: 10px;
  width: 80px;
  height: 80px;
}

/* line 2, ../scss/_table.scss */
.table-custom td {
  max-width: 100px;
  font-size: 18px;
}
